<% if logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>gosyumiwa?</h1>
    </div>
  </div>
  <div class="center jumbotron text-dark bg-white">
    <div class="text-center">
      <h1>下のリンクから興味のあるものを選択すると、それぞれの趣味を持つ人たちが集まるチャットに飛びます。</h1>
    </div>
  </div>
  <div>
      <%= link_to 'game', href="/communities/1", class: 'btn btn-lg btn-primary' %>
      <%= link_to 'cooking', href="/communities/2", class: 'btn btn-lg btn-primary' %>
      <%= link_to 'sports', href="/communities/7", class: 'btn btn-lg btn-primary' %>
      <%= link_to 'music', href="/communities/4", class: 'btn btn-lg btn-primary' %>
      <%= link_to 'movies', href="/communities/5", class: 'btn btn-lg btn-primary' %>
      <%= link_to 'travel', href="/communities/6", class: 'btn btn-lg btn-primary' %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>gosyumiwa?</h1>
    </div>
  </div>
  <div class="text-center">
      <%= link_to '会員登録はこちら', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
   <div class="text-center">
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>