<% if current_user.join_community?(@community) %>
  <div class="center jumbotron">
       <div class="text-center">
        <h3><%= @community.name %></h3>
      </div>
      <%= render 'join_communities/join_button', community: @community %>
    <div class="row">
      <aside class="col-sm-4">
        <%= form_with(model: @micropost, local: true) do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
          </div>
          <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
        <% end %>
      </aside>
      <div class="col-sm-8">
        <%= render 'microposts/microposts', microposts: @microposts %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="center jumbotron">
     <div class="text-center">
      <h3><%= @community.name %></h3>
    </div>
    <%= render 'join_communities/join_button', community: @community %>
  </div>
<% end %>
